.productdisplay{
    display: flex;
    margin: 0px 40px;

}
.productdisplay-left{
    display: flex;
    gap:17px
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap:16px
}
.productdisplay-img-list img{
    height: 120px;

}
.productdisplay-main-img{
    width: 464px;
    height: 530px;  

}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap:5px;
    color: #1c1c1c;
    font-size: 16px;

}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap:30px;
    font-size: 24px;
    font-weight: 700;
}
.old-price{
    color: #818181;
    text-decoration: line-through;
}
.new-price{
    color: #ff4141;
}
.right-size h1{
    margin-top: 20px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.right-sizes{
    display: flex;
    margin: 10px 0px;
    gap:20px;
}
.right-sizes div{
    padding: 6px 10px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 13px 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    counter-reset: white;
    background: #ff4141;
    border: none;
    margin: 10px 0px 30px 0px;
    outline: none;
    cursor: pointer;
    color: white;
}
.right-category{
    margin-top: 10px;

}
.right-category span{
    font-weight: 600;
}